body {
  padding: 20px;
  background: linear-gradient(-45deg, rgb(110,110,110), rgb(200,200,200), rgb(90, 90, 90) , rgb(180, 180, 180));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.title {
  margin: 0px auto;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5px;
  
}

#gridContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: center;
}

table {
  background-color: lightgray;
  border-spacing: 0;
  border: 5px solid rgb(180,180,180);
  border-radius: 8px; 
}

td {
  border: 1px solid white;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

span {
  color: #222;
}

#start,
#random,
#clear,
#restart {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: green;
  border-radius: 10px;
}

#counter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#start:hover,
#random:hover,
#restart:hover,
#clear:hover {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.text {
  margin: 0px auto;
  text-align: center;
  font-size: 1.5rem;
}

li {
  list-style-position: inside;
}

@media (min-width:768px){
  button{font-size: 2.5rem;}
  #counter{font-size: 3rem}
}

@media ((orientation: landscape) and (min-width: 768px)){
  .title{font-size: 1.5rem;}
  button{font-size: 1.25rem;}
}