body {
  padding: 20px;
}

#gridContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.controls {
  display: flex;
  justify-content: center;
}

table {
  background-color: black;
  border-spacing: 0;
}

td {
  border: 1px solid white;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

span {
  color: #222;
}

#start,
#random,
#restart {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: red;
  border-radius: 10px;
}

#counter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
