body {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

#gridContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.controls {
  display: flex;
  justify-content: center;
}

table {
  background-color: lightgray;
  border-spacing: 0;
}

td {
  border: 1px solid white;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

span {
  color: #222;
}

#start,
#random,
#clear,
#restart {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: green;
  border-radius: 10px;
}

#counter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#start:hover,
#random:hover,
#restart:hover,
#clear:hover {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
